@import "./componentesEstilos/_headerNav.scss",
		"./componentesEstilos/_variables.scss",
		"./componentesEstilos/_mixin.scss",
		"./componentesEstilos/_seccion1.scss",
		"./componentesEstilos/_seccion2.scss",
		"./componentesEstilos/_footer.scss";
