@import "./_variables.scss", "./_mixin.scss";

.header-index {
	background-color: $colorHeader;
}

.nav-index {
	height: 60px;
	background-color: $colorHeader;
	.nav_ul {
		@include display-start;
		padding: 10px;

		li {
			list-style-type: none;
			padding: 10px;

			a {
				text-decoration: none;
				font-size: 20px;
				color: $colorInfo;

				i {
					padding-right: 5px;
				}
			}

			a:hover {
				color: $letrasNav;
			}
		}
	}
}

.titulo-header {
	@include display-center;
	padding-top: 40px;

	h1 {
		color: $colorTitulos;
	}
}

.subtitulo-header {
	@include display-center;
	padding-top: 10px;

	p {
		color: $colorTitulos;
		font-size: 25px;
	}
}

.parrafo-header {
	@include display-center;
	padding-top: 10px;

	a {
		color: $colorInfo;
	}
}

.imagen-header {
	@include display-center;
	img {
		width: 100%;
		height: auto;
	}
}